/* Stylesheet for Trip page */

.port-select {
  float: left;
  margin-left: 5%;
  padding-bottom: 30px;
}

#port-img {
  float: left;
  margin-left: 10%;
  max-width: 50%;
  padding-bottom: 40px;
}

.timer {
  color: black;
  padding-right: 45px;
}

p.padded-bottom {
  padding-bottom: 50px;
}

.after-select {
  display: block;
  width: 100%;
  padding-top: 30%;
}

#arrived-btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.btn:focus {
    outline: 0;
    box-shadow: none!important;
}
